.container {
  margin-top: 50px;
}

.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #334257;
  color: white;
  border-radius: 8px 8px 0 0;
}

.card-body {
  background-color: #f4f4f4;
}

.card-body .list-group {
  margin-bottom: 0;
}

.card-body .list-group-item {
  border: none;
}
